.five-day-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: #1b1e23;
  border-top: 2px inset rgba(89, 154, 207, 0.5);
  width: 100vw;
  height: 30%;
}

.five-day-forecast-title-text {
  padding: 10px;
  border-radius: 10px;
  font-size: 2em;
  margin-top: -1.5%;
  margin-bottom: 1.5%;
  color: whitesmoke;
}

.five-day-city {
  color: #599acf;
}

.five-day-container {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  gap: 1.5em;
}

.individual-day-container {
  background-color: rgba(245, 245, 245, 0.3);
  box-shadow: 0px 0px 5px whitesmoke;
  border-radius: 5px;
  width: 11em;
}

.day {
  font-size: 1.25em;
  margin: 2%;
  margin-bottom: -2%;
}

.day-weather {
  font-size: 1.15em;
  margin: 2%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .five-day-div {
    position: relative;
    height: auto;
  }

  .five-day-container {
    width: 50rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .five-day-div {
    position: sticky;
    bottom: auto;
    height: 60vh;
  }

  .five-day-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }

  .individual-day-container {
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 5px;
    width: 21em;
  }
}
