.App {
  text-align: center;
}

.weather-tude-title-text {
  margin-bottom: 0;
  margin-left: 3%;
}

.weather-tude-description {
  margin-top: 0;
  font-size: small;
  color: rgba(245, 245, 245, 0.7);
  margin-left: 1%;
}

.loading {
  color: whitesmoke;
}
